<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.ui.gantt.adapter">
      <ganttAdapter
            eventLoader="fr.inria.soctrace.framesoc.cassandra.loader.CassandraEventLoader"
            traceTypeName="fr.inria.soctrace.framesoc.cassandra">
      </ganttAdapter>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.framesoc.cassandra.importer.CassandraImporterTool"
            id="fr.inria.soctrace.framesoc.cassandra.importer"
            name="Cassandra Importer Tool"
            type="IMPORT">
      </tool>
   </extension>

</plugin>
