<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.tracegenerator.Temictli"
            doc="Temictli is a trace generator. It will generate a trace from a configuration given as input. 
            The configuration file has one line for each trace we want to generate. Each line has values separated by a &apos;;&apos;. 
            The values must be in the following order: typeOfEvent1#typeOfEvent2;NumberOfEventType;NumberOfProducer;NumberOfLeaveProducer;OnlyLeavesProducesEvent(boolean);NumberOfEvents;ForceIndexCreation(boolean);Runs.
            Example: Event#State#Variable;20;101;100;true;1000000;true;10
            Note that if indexing is activated in Framesoc, putting the ForceIndexCreation at false won't prevent index creation."
            name="Temictli"
            type="IMPORT">
      </tool>
   </extension>

</plugin>
